APP_ENV=production

BOT_TOKEN=            # токен основного бота (@banana_airsoft_app_bot)
CHANNEL_ID=           # основний канал
ADMIN_IDS=
ORGANIZER_IDS=7499967163,365598083
WEBAPP_URL=https://<prod-domain>
PAYMENT_CARD_NUMBER=

DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=airsoft_db

KEEP_WARM_ENABLED=false
KEEP_WARM_BASE_URL=
